	<div class="span9">
		<hr>
		<div class="span2">
			<h3>Mapa del Sitio</h3>
			<br>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> Home</a></p>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> </a></p>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> Lista de Precios</a></p>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> Nosotros</a></p>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> Blog</a></p>
			<p style="font-size:1em; color:white"><a href="" style="color:#"> Contacto</a></p>
		</div>
		<div class="span3">
			<h3> Nuestro Blog </h3>
			<h5>Lorem ipsum dolor </h5>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit nisl ac metus porta placerat. Donec semper. consectetur<a href="" style="color:#">Leer más</a></p>
			<h5>Lorem ipsum dolor </h5>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit nisl ac metus porta placerat. Donec semper. consectetur<a href="" style="color:#">Leer más</a></p>
		</div>
		<div class="span2">
			<h3> Contactanos</h3>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			<br>
			<p> phone: 1-(555)-555-5555 <br>
				email: help@pueblacapital.com <br>
			</p>
		</div>
		<div class="span3 offset1">
			<h3>Newsletter</h3>
			<p> Subscribete y recibe las ultimas noticias </p>
			<form>
				<div class="controls">
					<input type="text" class="input-xlarge" placeholder="email" id="email">
				</div>
				<button type="submit" class="btn btn-success">Enviar</button>
			</form>
			<h3>Conéctate con nosotros</h3>
			<button type="submit" class="btn btn-info"><img src="fotos/png/twitter_blanco.png">  Twitter</button>
			<button type="submit" class="btn btn-primary"><img src="fotos/png/facebook_blanco.png">  facebook</button>
		</div>
    </div>